<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- Load credentials from the onfig.properties -->
    <properties resource="config.properties"/>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

<!-- aliases for mappers -->

    <typeAliases>
        <typeAlias alias="Classroom" type="com.solvd.school.timetable.generator.model.Classroom"/>
        <typeAlias alias="Subject" type="com.solvd.school.timetable.generator.model.Subject"/>
        <typeAlias alias="Teacher" type="com.solvd.school.timetable.generator.model.Teacher"/>
        <typeAlias alias="TimeSlot" type="com.solvd.school.timetable.generator.model.TimeSlot"/>
        <typeAlias alias="Timetable" type="com.solvd.school.timetable.generator.model.Timetable"/>
        <typeAlias alias="TimetableEntry" type="com.solvd.school.timetable.generator.model.TimetableEntry"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- Use the same connection pool size from config.properties -->
            <dataSource type="POOLED">
                <property name="driver"   value="${db.driver}"/>
                <property name="url"      value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
                <property name="poolMaximumActiveConnections" value="${db.pool_size}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- registering Mappers -->

    <mappers>
        <mapper resource="mappers/SubjectMapper.xml"/>
        <mapper resource="mappers/TeacherMapper.xml"/>
        <mapper resource="mappers/ClassroomMapper.xml"/>
        <mapper resource="mappers/TimeSlotMapper.xml"/>
        <mapper resource="mappers/TimetableMapper.xml"/>
    </mappers>

</configuration>